<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New User Registration</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>

    <form action="#" th:action="@{/save}" th:object="${user}"
          method="POST">
        <!--        <input type="text" th:field="*{firstName}" placeholder="First Name"-->
        <!--               class="form-control mb-4 col-4">-->
        <!--        <input type="text" th:field="*{lastName}" placeholder="Last Name"-->
        <!--               class="form-control mb-4 col-4">-->

        <div class="input-group">
            <span class="input-group-text">First and Last name</span>
            <input type="text" aria-label="First name" class="form-control" placeholder="First" th:field="*{firstName}">
            <input type="text" aria-label="Last name" class="form-control" placeholder="Last" th:field="*{lastName}">
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text">Email and Password</span>
            <input type="email" aria-label="Email" class="form-control" placeholder="Email" th:field="*{email}">
            <input type="password" aria-label="Password" class="form-control" placeholder="Password" th:field="*{password}">
        </div>
        <!--        <div class="input-group mb-3">-->
        <!--        <input type="text" th:field="*{email}" placeholder="User Email"-->
        <!--               class="form-control col-4">-->
        <!--            <span class="input-group-text" id="basic-addon2">@example</span>-->
        <!--        </div>-->
        <!--        <input type="password" th:field="*{password}" placeholder="Password"-->
        <!--               class="form-control mb-4 col-4">-->

        <button type="submit" class="btn btn-primary mt-2 col-2">Save
            User</button>
    </form>

    <hr>

    <a th:href="@{/}" class="btn btn-info"> Back to User List</a>
</div>

<div th:insert="~{admin::footer}"></div>
</body>
</html>